<div class="container">
    <form action="#" name="new-post" method="POST">
        <h3 class="flex d-flex justify-content-center align-items-center my-4">Ask a question</h3>
        <div>
            <div>
                <label for="bbp_topic_title">Topic Title (Maximum Length: 80):</label>
                <input type="text" class="form-control" size="40" name="bbp_topic_title" maxlength="80">
            </div>
            <div class="mt-4 mb-4">
                <label for="bbp_topic_title">Topic Description:</label>
                <textarea class="form-control" rows="15"></textarea>
            </div>
            <div class="mb-4">
                <label for="bbp_topic_tags">Topic Tags:</label><br>
                <input type="text" class="form-control" size="40" name="bbp_topic_tags">
            </div>
            <div>
                <button type="submit" name="bbp_topic_submit" class="btn btn-primary btn-outline-light">Submit</button>
            </div>
        </div>
    </form>
</div>