<div class="container">
    <form action="/ask-question" method="POST">
        <h3 class="flex d-flex justify-content-center align-items-center my-4">Ask a question</h3>
        <div>
            <div>
                <label for="title">Topic Title(Maximum character is 100):</label>
                <input type="text" class="form-control" size="40" name="title" maxlength="100">
            </div>
            <div class="mt-4 mb-4">
                <label for="description">Topic Description:</label>
                <textarea class="form-control" name="description" rows="15"></textarea>
            </div>
            <div class="mb-4">
                <label for="tags">Topic Tags:</label><br>
                <input type="text" class="form-control" size="40" name="tags">
            </div>
            <button type="submit" class="btn btn-primary btn-outline-light">Submit</button>
        </div>
    </form>
</div>