<section class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="card-body p-5 text-center">
            <div class="mb-md-5 mt-md-4 pb-5">
                <h1 class="mt-4">Dashboard</h1>
                <p class="lead mb-3">Welcome <%= name %></p>
<!--                <a href="/users/logout" class="btn btn-secondary">Logout</a>-->
                <div>
                    <a href="ask-question" class="btn btn-primary">Ask Question</a>
                </div>
            </div>

        </div>
    </div>
</section>