<section class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="card-body p-5 text-center">
            <div class="pb-5">
                <h1>Welcome to general forum!</h1>
            </div>
            <div>
                <a href="ask-question" class="btn btn-primary btn-outline-light">Ask Question</a>
            </div>
        </div>
    </div>

</section>
<section>
    <div class="container">
        <div class="column d-flex justify-content-center align-items-center p-3 border-bottom topic-container">
            <div></div>
            <div class="topic-link">
                <div class="#">
                    <h3><a href="/questions" class="q-link row d-flex justify-content-center align-items-center">Javascript Custom Word or String Frequency Counter.</a></h3>
                </div>
                <div class="topic-tag">
                    <a href="#" class="post-tag" title="#" rel="tag">javascript</a>
                    <a href="#" class="post-tag" title="#" rel="tag">javascript</a>
                    <a href="#" class="post-tag" title="#" rel="tag">javascript</a>
                </div>
            </div>
        </div>
        <div class="column d-flex justify-content-center align-items-center p-3 border-bottom topic-container">
            <div></div>
            <div class="topic-link">
                <div class="#">
                    <h3><a href="#" class="q-link row d-flex justify-content-center align-items-center">Javascript Custom Word or String Frequency Counter.</a></h3>
                </div>
                <div class="topic-tag">
                    <a href="#" class="post-tag" title="#" rel="tag">javascript</a>
                    <a href="#" class="post-tag" title="#" rel="tag">javascript</a>
                    <a href="#" class="post-tag" title="#" rel="tag">javascript</a>
                </div>
            </div>
        </div>
        <div class="column d-flex justify-content-center align-items-center p-3 border-bottom topic-container">
            <div></div>
            <div class="topic-link">
                <div class="#">
                    <h3><a href="#" class="q-link row d-flex justify-content-center align-items-center">Javascript Custom Word or String Frequency Counter.</a></h3>
                </div>
                <div class="topic-tag">
                    <a href="#" class="post-tag" title="#" rel="tag">javascript</a>
                    <a href="#" class="post-tag" title="#" rel="tag">javascript</a>
                    <a href="#" class="post-tag" title="#" rel="tag">javascript</a>
                </div>
            </div>
        </div>
        <div class="column d-flex justify-content-center align-items-center p-3 border-bottom topic-container">
            <div></div>
            <div class="topic-link">
                <div class="#">
                    <h3><a href="#" class="q-link row d-flex justify-content-center align-items-center">Javascript Custom Word or String Frequency Counter.</a></h3>
                </div>
                <div class="topic-tag">
                    <a href="#" class="post-tag" title="#" rel="tag">javascript</a>
                    <a href="#" class="post-tag" title="#" rel="tag">javascript</a>
                    <a href="#" class="post-tag" title="#" rel="tag">javascript</a>
                </div>
            </div>
        </div>
        <div class="column d-flex justify-content-center align-items-center p-3 border-bottom topic-container">
            <div></div>
            <div class="topic-link">
                <div class="#">
                    <h3><a href="#" class="q-link row d-flex justify-content-center align-items-center">Javascript Custom Word or String Frequency Counter.</a></h3>
                </div>
                <div class="topic-tag">
                    <a href="#" class="post-tag" title="#" rel="tag">javascript</a>
                    <a href="#" class="post-tag" title="#" rel="tag">javascript</a>
                    <a href="#" class="post-tag" title="#" rel="tag">javascript</a>
                </div>
            </div>
        </div>
    </div>
</section>