<section class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="card-body p-5 text-center">
            <div class="pb-5">
                <h1>Welcome to general forum!</h1>
            </div>
            <div>
                <a href="ask-question" class="btn btn-primary btn-outline-light">Ask Question</a>
            </div>
        </div>
    </div>

</section>
<section>
    <div class="container">
        <% for (const question of questions) { %>
        <div class="d-flex justify-content-start align-items-center p-3 border bg-light topic-container">
            <div></div>
            <div class="topic-link">
                <div class="#">
                    <h3><a href="/questions/<%= question._id %>" class="q-link row d-flex justify-content-center align-items-center"><%= question.title %></a></h3>
                </div>
                <div class="topic-tag">
                    <a href="#" class="post-tag" title="#" rel="tag"><%= question.tags %></a>
                </div>
            </div>
        </div>
        <% } %>
    </div>
</section>