<section class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="card-body p-5 text-center">
            <div class="mb-md-5 mt-md-4 pb-5">
                <h1>Welcome to our Website!</h1>
                <p class="mb-0">Create your account here! <a href="users/signup" class="text-dark-50 fw-bold">Sign Up</a></p>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center p-3">
            <div></div>
            <div class="">
                <div class="topic-link">
                    <h3><a href="#" class="q-link row d-flex justify-content-center align-items-center">Javascript Custom Word or String Frequency Counter. Javascript Custom Word or String Frequency Counter.Javascript Custom Word or String Frequency Counter.</a></h3>
                </div>
                <div class="topic-tag">
                    <a href="#" class="post-tag" title="#" rel="tag">javascript</a>
                    <a href="#" class="post-tag" title="#" rel="tag">javascript</a>
                    <a href="#" class="post-tag" title="#" rel="tag">javascript</a>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center align-items-center p-3">
            <div></div>
            <div class="#">
                <div class="topic-link">
                    <h3><a href="#" class="q-link row d-flex justify-content-center align-items-center">Javascript Custom Word or String Frequency Counter. Javascript Custom Word or String Frequency Counter.Javascript Custom Word or String Frequency Counter.</a></h3>
                </div>
                <div class="topic-tag">
                    <a href="#" class="post-tag" title="#" rel="tag">javascript</a>
                    <a href="#" class="post-tag" title="#" rel="tag">javascript</a>
                    <a href="#" class="post-tag" title="#" rel="tag">javascript</a>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center align-items-center p-3">
            <div></div>
            <div class="#">
                <div class="topic-link">
                    <h3><a href="#" class="q-link row d-flex justify-content-center align-items-center">Javascript Custom Word or String Frequency Counter. Javascript Custom Word or String Frequency Counter.Javascript Custom Word or String Frequency Counter.</a></h3>
                </div>
                <div class="topic-tag">
                    <a href="#" class="post-tag" title="#" rel="tag">javascript</a>
                    <a href="#" class="post-tag" title="#" rel="tag">javascript</a>
                    <a href="#" class="post-tag" title="#" rel="tag">javascript</a>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center align-items-center p-3">
            <div></div>
            <div class="#">
                <div class="topic-link">
                    <h3><a href="#" class="q-link row d-flex justify-content-center align-items-center">Javascript Custom Word or String Frequency Counter. Javascript Custom Word or String Frequency Counter.Javascript Custom Word or String Frequency Counter.</a></h3>
                </div>
                <div class="topic-tag">
                    <a href="#" class="post-tag" title="#" rel="tag">javascript</a>
                    <a href="#" class="post-tag" title="#" rel="tag">javascript</a>
                    <a href="#" class="post-tag" title="#" rel="tag">javascript</a>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center align-items-center p-3">
            <div></div>
            <div class="#">
                <div class="topic-link">
                    <h3><a href="#" class="q-link row d-flex justify-content-center align-items-center">Javascript Custom Word or String Frequency Counter. Javascript Custom Word or String Frequency Counter.Javascript Custom Word or String Frequency Counter.</a></h3>
                </div>
                <div class="topic-tag">
                    <a href="#" class="post-tag" title="#" rel="tag">javascript</a>
                    <a href="#" class="post-tag" title="#" rel="tag">javascript</a>
                    <a href="#" class="post-tag" title="#" rel="tag">javascript</a>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center align-items-center p-3">
            <div></div>
            <div class="#">
                <div class="topic-link">
                    <h3><a href="#" class="q-link row d-flex justify-content-center align-items-center">Javascript Custom Word or String Frequency Counter. Javascript Custom Word or String Frequency Counter.Javascript Custom Word or String Frequency Counter.</a></h3>
                </div>
                <div class="topic-tag">
                    <a href="#" class="post-tag" title="#" rel="tag">javascript</a>
                    <a href="#" class="post-tag" title="#" rel="tag">javascript</a>
                    <a href="#" class="post-tag" title="#" rel="tag">javascript</a>
                </div>
            </div>
        </div>
    </div>
</section>