<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <ul class="nav navbar-nav">
            <li class="btn btn-primary"><a href="/" class="text-white text-decoration-none">Home</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right d-flex flex-row" >
            <% if (user) { %>
                <%= user.name %>
                <li class="btn btn-primary" style="margin-right: 25px"><a href="/users/logout" class="text-decoration-none text-white">Logout</a></li>
            <% } else { %>
                <li class="btn btn-primary" style="margin-right: 25px"><a href="/users/login" class="text-decoration-none text-white">Login</a></li>
                <li class="btn btn-primary"><a href="/users/signup" class="text-decoration-none text-white">Signup</a></li>
            <% } %>
        </ul>
    </div>
</nav>
