<div class="container p-3">
    <div class="d-flex justify-content-between align-items-center border-bottom pb-3">
        <div style="flex: 1 auto !important; margin-right: 1em">
            <h1 style="font-size: 1.5rem">
                <a href="/questions/73348553/is-performance-gained-when-using-continue-in-a-for-loop#" class="text-decoration-none text-primary"><%= questions.title %></a>
            </h1>
        </div>
<!--        <div>-->
<!--            <a href="ask-question" class="btn btn-primary btn-outline-light">Ask Question</a>-->
<!--        </div>-->
    </div>
    <div class="pt-3">
        <div class="border-bottom pb-3">
            <p><%= questions.description %></p>
        </div>
<!--        <h2 class="mb0 pt-3" style="font-size: 1.3rem; font-weight: 400" data-answercount="1">1 Answer<span style="display: none;" itemprop="answerCount">1</span></h2>-->
<!--        <div class="border-bottom pb-3">-->
<!--            <p>hello world</p>-->
<!--        </div>-->
<!--        <div class="mt-4 mb-4">-->
<!--            <label class="pt-3" style="font-size: 1.3rem; font-weight: 400" for="bbp_topic_title">Your Answer:</label>-->
<!--            <textarea class="form-control" rows="15"></textarea>-->
<!--        </div>-->
<!--        <div>-->
<!--            <button type="submit" name="bbp_topic_submit" class="btn btn-primary btn-outline-light">Post Your Answer</button>-->
<!--        </div>-->
    </div>
</div>