<div class="container p-3">
    <div class="border p-3" style="background-color: #FFFFFF; border-radius: 5px">
        <div class="d-flex justify-content-between align-items-center pb-2">
            <div style="flex: 1 auto !important; margin-right: 1em">
                <h1 style="font-size: 1.5rem"><%= questions.title %></h1>
            </div>
            <div>
                <a href="/ask-question" class="btn btn-primary btn-outline-light">Ask Question</a>
            </div>
        </div>
        <div class=" pt-3">
            <p><%= questions.description %></p>
        </div>
        <div class="mt-2">
            <a href="#" class="text-dark text-decoration-none p-2 icon"><i class="fa-regular fa-bookmark" style="margin-right:10px"></i>save</a>
            <!--                    <i class="fa-solid fa-bookmark"></i>-->
        </div>
    </div>

    <div class="pt-5">
        <h2 style="font-size: 1.3rem; font-weight: 400" data-answercount="1">1 Answer<span style="display: none;" itemprop="answerCount">1</span></h2>
        <% for (const answer of questions.answer) { %>

            <div class="border p-3 mb-2" style="background-color: #FFFFFF; border-radius: 5px">
                <p style="margin:0;"><%= answer %></p>
            </div>
        <% } %>


        <form action="<%= questions._id%>/post-answer" method="POST">
            <div class="mt-4 mb-4">
                <label class="pt-3" style="font-size: 1.3rem; font-weight: 400" for="bbp_topic_title">Your Answer:</label>
                <textarea class="form-control" name="answer" rows="15"></textarea>
            </div>
            <div>
                <button type="submit" name="bbp_topic_submit" class="btn btn-primary btn-outline-light">Post Your Answer</button>
            </div>
        </form>
    </div>
</div>