body{
    background-color: aqua;
}
.form-button{
    color: white
}
.form-button:hover{
    color: black
}

.q-link{
    font-size: 17px;
    text-decoration: none;
    color: #81c5f8;
    padding-left: 11px
}
.q-link:hover{
    color: #33a7ff;
}

.post-tag{
    font-size: 12px;
    text-decoration: none;
    padding-right: 12px;
}

.topic-link{
    width: 70%;
}