.topic-container{
    width: 70%;
    margin: 10px auto;
}

.form-button{
    color: white
}
.form-button:hover{
    color: black
}

.topic-link h3{
    padding-left: .5rem;
}

.topic-link a{
    font-size: 17px;
    text-decoration: none;
    color: #2D3E4F;
    padding-left: 11px
}

.topic-link a:hover{
    color: #33a7ff;
}

.topic-tag a{
    margin-right: 10px;
    color: #95A5A6;
    font-size: 12px;
    text-decoration: none;
}

.topic-tag a:hover{
    background-color:  #F5F5F5;
    background-position: 0% 0%;
    color:  #171717;
    transform: none;
    transition: all 0s ease 0s;
    box-sizing: border-box;
    outline: #171717 solid 1px;
    border-radius: 3px;
}

.icon:hover{
    background-color:  #F5F5F5;
    border-radius: 5px;
}
